/*GENERAL - Estilos que van en todas las páginas*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
}

body{
    background: rgb(236, 200, 200)
}

.titulo {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
    margin-top: 1rem;
    color: rgb(197, 39, 11);
}

/*Menu*/
.nav {
    background-color: rgba(221, 90, 90, 0.747);
    z-index: 1;
    display: flex;
    justify-content:space-between;

}

.logo {
    padding-left: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.navMenu  {
     list-style: none;
     margin: 1rem;
}
.navMenu li{
    display: inline;
    margin-left: 6rem;
    padding: 0.5rem;

}

.navMenu li:hover{
    background-color: rgba(255, 43, 43, 0.486);
    border-radius: 10%;
}


/*Slides de portada principal*/
.portada  {
    position:relative;
    display: flex;
    width: 70%;
    margin: auto;
}


.portada_slide{
    width: 100%;
    text-align: center;
    position: absolute
}

.portada_img{
    width:30%;
    height: 30rem;
    padding: 1rem;  
    margin-top: 2rem;
}

#slide1{
    opacity: 1;
    animation: transicion1 10s infinite;
}
#slide2{
    opacity:0;
    animation: transicion2 10s infinite
}

@keyframes transicion1 {
    0%{ opacity: 1;}
    47%{opacity:1;}
    51%{opacity:0;}
    97%{opacity:0;}
}

@keyframes transicion2 {
    0%{ opacity: 0;}
    47%{opacity:0;}
    51%{opacity:1;}
    97%{opacity:1;}
}

/*footer* corregir q no que den la mitad de la pagina*/
footer{
    background-color: rgba(221, 90, 90, 0.747);
    text-align: center;
    bottom: 0; 
    position: fixed;
    width: 100%;
} 

/*SERIES cambiar las fotos y ver  como hacerle con un onclick que se desplieguen las descripciones*/
.containerSeries {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
    margin: 5rem;
}

.imgSeries {
    width: 15rem;
    height: 20rem;
}